@media (prefers-color-scheme: light) { /*Light mode*/
    body {
        padding-bottom: 3rem;
    }
}
@media (prefers-color-scheme: dark) { /* Dark mode */
    a, H1, H2, H3, H4, p, li, th, td{
        color: white;
    }
    #id_title, #id_file, label{
        color: black;
    }
    body {
        background-color: black;
        padding-bottom: 3rem;
    }
    .featurette-divider {
        color: white;
    }
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 10%;
  top: 90%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}