@media (prefers-color-scheme: light) { /*Light mode*/
    body {
        padding-bottom: 3rem;
    }
    .search {
        width: 100%;
        margin-bottom: auto;
        margin-top: 20px;
        height: 50px;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
    }
    .search-input {
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        margin-top: 5px;
        caret-color: transparent;
        line-height: 20px;
        transition: width 0.4s linear
    }
    .search .search-input {
        padding: 0 10px;
        width: 100%;
        font-size: 19px;
        font-weight: 300;
        color: black;
        transition: width 0.4s linear;
    }
    .search-icon {
        height: 34px;
        width: 74px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #126bf2;
        font-size: 15px;
        bottom: 30px;
        position: relative;
        border-radius: 5px;
    }
    .search-icon:hover{
      color: white;
    }
    a:link {
        text-decoration: none
    }
}
@media (prefers-color-scheme: dark) { /* Dark mode */
    a, H1, H2, H3, H4, p, li, th, td{
        color: white;
    }
    #id_title, #id_file, label{
        color: black;
    }
    body {
        background-color: black;
        padding-bottom: 3rem;
    }
    .featurette-divider {
        color: white;
    }
    .search {
        width: 100%;
        margin-bottom: auto;
        margin-top: 20px;
        height: 50px;
        background-color: #000;
        padding: 10px;
        border: 1px solid white;
        border-radius: 5px;
    }
    .search-input {
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        margin-top: 5px;
        caret-color: transparent;
        line-height: 20px;
        transition: width 0.4s linear
    }

    .search .search-input {
        padding: 0 10px;
        width: 100%;
        font-size: 19px;
        font-weight: 300;
        color: white;
        transition: width 0.4s linear;
    }

    .search-icon {
        border: 0;
        height: 34px;
        width: 74px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #126bf2;
        font-size: 15px;
        bottom: 30px;
        position: relative;
        border-radius: 5px;
    }

    .search-icon:hover{
      color: white;
    }

    a:link {
        text-decoration: none
    }
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 10%;
  top: 90%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}